
.container{
    background: #34506c;
    width: 730px;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.is-invalid{
    border: solid 1px red;
}