<div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="form" (ngSubmit)="addTask()">
    <input type="text" type="text" formControlName="taskName" class="form-control"
      [ngClass]="{ 'is-invalid': submitted &&  f.taskName.errors }" [(ngModel)]="taskName" />
    <button type="submit">Add new task</button>
  </form>
  <div *ngIf="taskList.length>0">
    <task-item *ngFor="let task of taskList" (bookTitleCreated)=completeTask($event) [task]="task"></task-item>
  </div>
  <div class="card" *ngIf="taskList.length==0">
    <h6>Add new task to the board</h6>
  </div>
</div>
